# Data Cleaning



### Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import numpy

### Step 2. Import the dataset

In [19]:
pd.read_csv("D://chipotle.tsv",sep="\t")
# sep stands for separator . As file is tsv (Tab-Separated Values) file so its separated by the tab character.

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [65]:
chipo=pd.read_csv("D://chipotle.tsv",sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [23]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [25]:
# Solution 1   "number of observations" refers to the total count of individual data points.
chipo.shape[0]

4622

In [27]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [29]:
# Solution 1
chipo.shape[1]

5

In [31]:
# Solution 2
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [33]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [35]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [37]:
# Solution 1
chipo["item_name"].value_counts().iloc[0:1]
# By using value_counts its counts the unique values 
# iloc is used to select rows by position as iloc performs positional indexing .
# Then used Slicing to take only first row

item_name
Chicken Bowl    726
Name: count, dtype: int64

In [39]:
# Solution 2
chipo[["item_name"]].value_counts().reset_index().sort_values(by="count",ascending=False).item_name[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [41]:
chipo[["item_name"]].value_counts().reset_index(name="count").iloc[0]

item_name    Chicken Bowl
count                 726
Name: 0, dtype: object

### Step 11. What was the most ordered item in the choice_description column?

In [55]:
chipo[["choice_description"]].value_counts().iloc[0:1]

choice_description
[Diet Coke]           134
Name: count, dtype: int64

### Step 12. How many items were orderd in total?

In [57]:
chipo.groupby("item_name")[["order_id"]].sum()

                                       order_id
item_name
6 Pack Soft Drink                         52322
Barbacoa Bowl                             53972
Barbacoa Burrito                          74718
Barbacoa Crispy Tacos                      5613
Barbacoa Salad Bowl                        9708
Barbacoa Soft Tacos                       18725
Bottled Water                            175944
Bowl                                        472
Burrito                                    1550
Canned Soda                               76396
Canned Soft Drink                        304753
Carnitas Bowl                             62742
Carnitas Burrito                          51652
Carnitas Crispy Tacos                      5868
Carnitas Salad                             1500
Carnitas Salad Bowl                        6693
Carnitas Soft Tacos                       37673
Chicken Bowl                             713926
Chicken Burrito                          497303
Chicken Crispy Tacos                      47382
Chicken Salad                             10465
Chicken Salad Bowl                       117104
Chicken Soft Tacos                        98395
Chips                                    208004
Chips and Fresh Tomato Salsa             100419
Chips and Guacamole                      449959
Chips and Mild Fresh Tomato Salsa           279
Chips and Roasted Chili Corn Salsa        14999
Chips and Roasted Chili-Corn Salsa        17462
Chips and Tomatillo Green Chili Salsa     41170
Chips and Tomatillo Red Chili Salsa       45556
Chips and Tomatillo-Green Chili Salsa     21826
Chips and Tomatillo-Red Chili Salsa       18344
Crispy Tacos                                434
Izze                                      10587
Nantucket Nectar                          21814
Salad                                      1150
Side of Chips                             84769
Steak Bowl                               193752
Steak Burrito                            328437
Steak Crispy Tacos                        35818
Steak Salad                                2362
Steak Salad Bowl                          29590
Steak Soft Tacos                          50177
Veggie Bowl                               72270
Veggie Burrito                            80962
Veggie Crispy Tacos                         668
Veggie Salad                               7265
Veggie Salad Bowl                         17303
Veggie Soft Tacos                          5520

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [59]:
chipo["item_price"]=chipo["item_price"].str.replace("$","").astype("float")
chipo["item_price"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [61]:
chipo["item_price"].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [67]:
chipo["item_price"]=chipo["item_price"].apply(lambda x: float(x.replace("$", "")))
chipo["item_price"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [69]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [95]:
revenue=sum(chipo["quantity"]*chipo["item_price"])
revenue

39237.02

### Step 15. How many orders were made in the period?

In [79]:
chipo["order_id"].count()

4622

### Step 16. What is the average revenue amount per order?

In [89]:
chipo["Total_amount"]=chipo["quantity"]*chipo["item_price"]
chipo["Total_amount"]

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: Total_amount, Length: 4622, dtype: float64

In [91]:
# Solution 1
chipo.groupby("order_id")[["Total_amount"]].mean()

          Total_amount
order_id
1             2.890000
2            33.960000
3             6.335000
4            10.500000
5             6.850000
...                ...
1830         11.500000
1831          4.300000
1832          6.600000
1833         11.750000
1834          9.583333

[1834 rows x 1 columns]

In [93]:
# Solution 2
pd.pivot_table(chipo,index="order_id",values="Total_amount",aggfunc="mean")

          Total_amount
order_id
1             2.890000
2            33.960000
3             6.335000
4            10.500000
5             6.850000
...                ...
1830         11.500000
1831          4.300000
1832          6.600000
1833         11.750000
1834          9.583333

[1834 rows x 1 columns]

### Step 17. How many different items are sold?

In [414]:
# Solution 1
chipo["item_name"].nunique()

50